{% extends '/layout/default.twig'%}
    {% block content %}
        <!--================Home Banner Area =================-->
        <section class="banner_area">
            <div class="box_1620">
                <div class="banner_inner d-flex align-items-center" style="
                background-image:url('/Templates/img/blog/baniere/baniere.jpg');
                background-position : center; background-size: 100%; border-radius: 15px;">
                    <div class="container">
                        <div class="banner_content text-center" >
                            <h2>Administration</h2>
                            <div class="page_link">
                                <h3>Bienvenue {{ ConnectedUser.surname }} {{ ConnectedUser.firstname }}</h3>
                                (<a href="/login/disconnect">Déconnection</a>)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--================End Home Banner Area =================-->

        <!--================Blog Area =================-->
        <section class="home_banner_area">

            <div class="container box_1620" >
                <section class="row d-flex justify-content-center mt-5 mb-5">
                    <div class="col-12" >
                        <h1 class="mb-30 title_color text-center">UTILISATEURS</h1>
                        <div class="progress-table-wrap">
                            <div class="progress-table">
                                <div class="table-head">
                                    <div class="country">Nom</div>
                                    <div class="percentage">email</div>
                                    <div class="country">login</div>
                                    <div class="serial"></div>
                                    <div class="serial"></div>
                                </div>
                                {% for users in User %}
                                    <div class="table-row">
                                        <div class="country">{{ users.surname }} {{ users.firstname }}</div>
                                        <div class="percentage">{{ users.email }}</div>
                                        <div class="country">{{ users.loginName }}</div>
                                        <div class="serial mr-3" >
                                            <form method="post" >
                                                <input type="hidden" name="updateUser" value="{{ users.id }}">
                                                <button type="submit" class="admin_btn p-0 bg-white text-primary" >
                                                    <span class="lnr lnr-pencil"></span>
                                                </button>
                                            </form>
                                        </div>
                                        <div class="serial">
                                            <form method="post" >
                                                <input type="hidden" name="deleteUser" value="{{ users.id }}">
                                                <button type="submit" class="admin_btn p-0 bg-white text-primary">
                                                    <span class="lnr lnr-trash"></span>
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                {% endfor %}
                                <div class="table-row d-flex justify-content-end">
                                    <form method="post">
                                        <input type="hidden" name="createUser">
                                        <button type="submit" class="btn-primary submit_btn">
                                            Ajouter un utilistaeur
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="row d-flex justify-content-center mb-5">
                    <div class="section-top-border">
                        {{ session.Auth }}
                        <h1 class="mb-30 title_color text-center">ARTICLES</h1>
                        <div class="progress-table-wrap">
                            <div class="progress-table">
                                <div class="table-head">
                                    <div class="country">titre</div>
                                    <div class="percentage">extrait</div>
                                    <div class="country">date</div>
                                    <div class="serial"></div>
                                    <div class="serial"></div>
                                </div>
                                {% for posts in Post %}
                                <div class="table-row">
                                    <div class="country">{{ posts.title }}</div>
                                    <div class="percentage">{{ posts.previewText }}</div>
                                    <div class="country">{{ posts.updateDate }}</div>
                                    <div class="serial mr-3" >
                                        <form method="post" >
                                            <input type="hidden" name="updatePost" value="{{ posts.id }}">
                                            <button type="submit" class="admin_btn p-0 bg-white text-primary" >
                                                <span class="lnr lnr-pencil"></span>
                                            </button>
                                        </form>
                                    </div>
                                    <div class="serial" >
                                        <form method="post" >
                                            <input type="hidden" name="deletePost" value="{{ posts.id }}">
                                            <button type="submit" class="admin_btn p-0 bg-white text-primary">
                                                <span class="lnr lnr-trash"></span>
                                            </button>
                                        </form>
                                    </div>
                                </div>
                                {% endfor %}
                                <div class="table-row d-flex justify-content-end">
                                    <form method="post">
                                        <input type="hidden" name="createPost">
                                        <button type="submit" class="btn-primary submit_btn">
                                            Ajouter un article
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>
                </section>
                <section class="row d-flex justify-content-center mt-5 mb-5">
                    <div class="col-12" >
                        <h1 class="mb-30 title_color text-center">COMMENTAIRE EN ATTENTE DE VALIDATION</h1>
                        <div class="progress-table-wrap">
                            <div class="progress-table">
                                <div class="table-head">
                                    <div class="country">Auteur</div>
                                    <div class="percentage">commentaire</div>
                                    <div class="country">date</div>
                                    <div class="serial"></div>
                                    <div class="serial"></div>
                                </div>
                                {% for comments in Comment %}
                                    <div class="table-row">
                                        <div class="country">{{ comments.author }}</div>
                                        <div class="percentage">{{ comments.commentText }}</div>
                                        <div class="country">{{ comments.updateDate }}</div>
                                        <div class="serial mr-3" >
                                            <form method="post" >
                                                <input type="hidden" name="validComment" value="{{ comments.id }}">
                                                <button type="submit" class="admin_btn p-0 bg-white text-primary" >
                                                    <span class="lnr lnr-checkmark-circle"></span>
                                                </button>
                                            </form>
                                        </div>
                                        <div class="serial">
                                            <form method="post" >
                                                <input type="hidden" name="deleteComment" value="{{ comments.id }}">
                                                <button type="submit" class="admin_btn p-0 bg-white text-primary">
                                                    <span class="lnr lnr-trash"></span>
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </section>
            </div>
        </section>

        <!--================Blog Area =================-->





    {% endblock content %}


