{% extends '/layout/default.twig'%}
    {% block content %}


        <div class="card col-12" style="background-color:darkgray " >
            <div class="card-content p-2">
                <h1>{{Post.title}}</h1>
                <p>{{Post.content}}</p>
            </div>
            <div class="card-footer">
                <p class=" text-right"><a  href="../listPost" >Retour a la list des posts</a></p>
            </div>
        </div>


        <div class="card col-12" >
            <div class="card-content p-2">
                <h3>Commentaire</h3>
                    {% for comments in Comment %}
                        <p>{{ comments.commenttext }} <a href="../deleteComment/{{ Post.id }}/{{ comments.id }}">Supprimer {{ comments.id }}</a></p>
                        <p>{{ comments.updatedate }}</p>

                    {%  endfor %}

                <div class="card-footer">
                    {% include 'commentForm.twig' %}
                </div>
            </div>
        </div>




    {% endblock content %}


