{% block postForm %}

    <form method="post" >

        <div class="form-group">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text bg-light" for="roleId">
                        Role :
                    </label>
                </div>
                <select class="custom-select" id="roleId" name="roleId">
                    <option selected value="{{ User.roleId }}">{{ Role.name }} </option>
                    {% for roles in roleList %}
                        <option value="{{ roles.id }}">{{ roles.name}}</option>
                    {%  endfor %}
                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="firstname">Nom : <span class="text-danger">{{ displayError.firstname }}</span></label>
            <input type="text" class="form-control" id="firstname" name="firstname" value="{{User.firstname}}">
        </div>

        <div class="form-group">
            <label for="surname">Prénom : <span class="text-danger">{{ displayError.surname }}</span></label>
            <input type="text" class="form-control" id="surname" name="surname" value="{{User.surname}}">
        </div>

        <div class="form-group">
            <label for="email">email : <span class="text-danger">{{ displayError.email }}</span></label>
            <input type="email" class="form-control" id="email" name="email" value="{{User.email}}">
        </div>

        <div class="form-group">
            <label for="loginName">Nom d'utilisateur : <span class="text-danger">{{ displayError.loginName }}</span></label>
            <input type="text" class="form-control" id="loginName" name="loginName" value="{{User.loginName}}">
        </div>

        <div class="form-group">
            <label for="password">Mot de passe : <span class="text-danger">{{ displayError.password }}</span></label>
            <input type="password" class="form-control" id="password" name="password" value="{{User.password}}">
        </div>


        <div class="d-flex justify-content-end">
            <input type="submit" class="primary-btn submit_btn" value="Publier l'article" >
        </div>

    </form>

{% endblock %}